.container {
  height: 37.5rem;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: rgb(185, 216, 237);
  min-height: 300px;
}
.heading {
  color: rgb(46, 47, 51);
  font-size: 4rem;
  text-align: center;
}
.languages {
  display: flex;
  justify-content: space-between;
}

.english {
  background-image: url(../assets/UKFlag.jpg);
  background-size: cover;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: relative;
}

.deutch {
  background-image: url(../assets/germanFlag.jpg);
  background-position: center;
  background-size: 7.5rem;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: relative;
}
.spanish {
  background-image: url(../assets/spainFlag.png);
  background-position: center;
  background-size: 5.8rem;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: relative;
}

.french {
  background-image: url(../assets/franceFlag.png);
  background-size: cover;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: relative;
}
.greek {
  background-image: url(../assets/greeceFlag.png);
  background-size: cover;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: relative;
}
.bulgarian {
  background-image: url(../assets/bulgarianFlag.jpg);
  background-position: center;
  border-radius: 100%;
  background-size: 8rem;
  width: 5rem;
  height: 5rem;
  position: relative;
}
@media (max-width: 576px) {
  .heading {
    font-size: 20px;
  }
  .languages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 3rem;
  }
  .english::after {
    content: "English";
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translatex(-50%);
  }
  .deutch::after {
    content: "German";
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translatex(-50%);
  }

  .spanish::after {
    content: "Spanish";
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translatex(-50%);
  }
  .greek::after {
    content: "Greek";
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translatex(-50%);
  }
  .french::after {
    content: "French";
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translatex(-50%);
  }
  .bulgarian::after {
    content: "Bulgarian";
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translatex(-50%);
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
}

/* Large devices (desktops, 1080px-1336px) */
@media (min-width: 1080px) and (max-width: 1366px) {
}

/* Extra extra large devices (desktops, 1680px and up) */
@media (min-width: 1366px) and (max-width: 1680px) {
}

@media (min-width: 1680px) {
  .text h1 {
    font-size: var(--font-size-header-xl);
  }
  .text p {
    font-size: var(--font-size-paragraph-xl);
  }
}

@media (min-width: 1920px) {
}
