.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 420px;
  padding-block: 2.5rem;
}

.videosContainer {
  z-index: 0;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  border: 0px solid white;
  border-radius: 15px;
  padding-block: 5rem;
  padding-inline: 2rem;
}

.button {
  cursor: pointer;
  border: none;
  position: absolute;
  top: 28%;
  box-shadow: none;
  background-color: transparent;
  color: #267fc1;
}
.right {
  right: 0%;
}

.buttonIcon {
  width: 25px;
}
