.container {
  height: 37.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 216, 237);
  min-height: 550px;
}
.frame {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90%;
  width: 90%;
  border: 3px solid white;
}

.frame h1 {
  color: rgb(46, 47, 51);
  font-size: 4rem;
  text-align: center;
}

.image {
  position: absolute;
  bottom: 0;
  background-image: url(../assets/Group_209_2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 80%;
  width: 80%;
}

@media (max-width: 576px) {
  .container {
    height: 60vh;
    min-height: 0px;
  }
  .frame {
    height: 300px;
  }
  .frame h1 {
    margin-block: 0px;
    padding: 10px;
    font-size: var(--font-size-header-xs);
  }
  .image {
    height: 98%;
    width: 98%;  
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
}

/* Large devices (desktops, 1080px-1336px) */
@media (min-width: 1080px) and (max-width: 1366px) {
}

/* Extra extra large devices (desktops, 1680px and up) */
@media (min-width: 1366px) and (max-width: 1680px) {
}

@media (min-width: 1680px) {
  .text h1 {
    font-size: var(--font-size-header-xl);
  }
  .text p {
    font-size: var(--font-size-paragraph-xl);
  }
}

@media (min-width: 1920px) {
}
