.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.first {
  --d: 0.5deg; /* distance between dashes */
  --n: 220; /* number of dashes */
  --c: white; /* color of dashes */
  --b: 2px; /* control the thickness of border*/

  width: 1100px;
  display: inline-block;
  border-radius: 50%;
  background: repeating-conic-gradient(
    var(--c) 0 calc(360deg / var(--n) - var(--d)),
    transparent 0 calc(360deg / var(--n))
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );

  position: absolute;
  top: 40%;
  left: -40%;
}
.first:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.second {
  --d: 0.5deg; /* distance between dashes */
  --n: 250; /* number of dashes */
  --c: white; /* color of dashes */
  --b: 2px; /* control the thickness of border*/

  width: 1300px;
  display: inline-block;
  border-radius: 50%;
  background: repeating-conic-gradient(
    var(--c) 0 calc(360deg / var(--n) - var(--d)),
    transparent 0 calc(360deg / var(--n))
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );

  position: absolute;
  top: -16%;
  right: -8%;

  overflow: hidden;
}
.second:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.third {
  --d: 0.5deg; /* distance between dashes */
  --n: 300; /* number of dashes */
  --c: white; /* color of dashes */
  --b: 2px; /* control the thickness of border*/

  width: 1700px;
  display: inline-block;
  border-radius: 50%;
  background: repeating-conic-gradient(
    var(--c) 0 calc(360deg / var(--n) - var(--d)),
    transparent 0 calc(360deg / var(--n))
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );

  position: absolute;
  bottom: 50%;
  right: -37%;

  overflow: hidden;
}

.third:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.forth {
  --d: 0.5deg; /* distance between dashes */
  --n: 230; /* number of dashes */
  --c: white; /* color of dashes */
  --b: 2px; /* control the thickness of border*/

  width: 1000px;
  display: inline-block;
  border-radius: 50%;
  background: repeating-conic-gradient(
    var(--c) 0 calc(360deg / var(--n) - var(--d)),
    transparent 0 calc(360deg / var(--n))
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );

  position: absolute;
  bottom: -50%;
  right: -40%;
  overflow: hidden;
}

.forth:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.fifth {
  --d: 0.5deg; /* distance between dashes */
  --n: 230; /* number of dashes */
  --c: white; /* color of dashes */
  --b: 2px; /* control the thickness of border*/

  width: 1000px;
  display: inline-block;
  border-radius: 50%;
  background: repeating-conic-gradient(
    var(--c) 0 calc(360deg / var(--n) - var(--d)),
    transparent 0 calc(360deg / var(--n))
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--b)),
    #fff calc(100% - var(--b) + 1px)
  );

  position: absolute;
  bottom: -130%;
  right: -40%;
  overflow: hidden;
}

.fifth:before {
  content: "";
  display: block;
  padding-top: 100%;
}
