.logo {
  width: 50px;
  height: 50px;
}
.icon {
  color: rgb(38, 127, 193);
  cursor: pointer;
  margin: 10px;
}

.navAndLogo {
  padding-top: 1rem;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  margin-inline: 1rem;
}
@media (max-width: 850px) {
  .nav a {
    margin-inline: 0.4rem;
  }
}
@media (max-width: 650px) {
  .active {
    transform: translateY(+110vh);
  }

  .nav {
    width: 110vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: -110vh;
    height: 100vh;
    align-items: center;
    background-color: azure;
    padding-inline: auto;
    z-index: 999;
    transition: 1s;
    margin-left: -20px;
  }
  .nav a {
    margin: 1rem;
  }
  .navAndLogoMobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .icon {
    position: fixed;
    right: 10px;
    height: 30px;
  }
  .closeIcon {
    cursor: pointer;
    height: 30px;
  }
  .navAndLogo {
    padding: 0px;
  }
}
