.logo {
  width: 151px;
  height: 151px;
}

.icon {
  color: rgb(38, 127, 193);
  cursor: pointer;
  margin: 10px;
}

.navAndLogo {
  padding-top: 1rem;
  padding-inline-start: 2rem;
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;

  font-size: 28px;
  font-weight: 450;
  font-family: 'Roboto' medium;

  letter-spacing: 0px;
  color: #303030;
  opacity: 1;
  margin: 1rem 2rem 1rem 1rem;
}

@media (max-width: 650px) {
  .active {
    transform: translateY(+110vh);
  }

  .nav {
    width: 110vw;
    flex-direction: column;
    position: fixed;
    top: -110vh;
    height: 100vh;
    background-color: azure;
    padding-inline: auto;
    z-index: 999;
    transition: 1s;
    margin-left: -20px;
  }

  .nav a {
    margin: 1rem;
  }

  .navAndLogoMobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .icon {
    position: fixed;
    right: 10px;
    height: 30px;
  }
  .closeIcon {
    cursor: pointer;
    height: 30px;
  }
  .navAndLogo {
    padding: 0px;
  }
}
